/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #e0f7fa, #80deea); /* Soft Gradient */
    font-family: "Poppins", sans-serif;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

main {
    min-height: 100vh;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-img {
    width: 100px;
}

.hidden {
    display: none;
}
.nav-links {
    display: flex; /* Adjust as needed */
    justify-content: center;
    align-items: center;
    flex-direction: row; /* For vertical menus */
}

.nav-links li {
    margin: 0 1rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #6200ea;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.profile-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 2rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.profile-card:hover {
    transform: translateY(-10px);
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile-card img:hover {
    transform: scale(2);
}

.profile-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.profile-card p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #555;
}

.profile-card h4 {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 0.5rem;
}

footer {
    background: #186a70;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    position: sticky;
    bottom: 0;
    right: 0;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 280px;
        right: 0;
        width: 100%;
        background-color: hsl(0, 0%, 100%);
        /* border-top: black; */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #ddd;
    }

    .nav-links a {
        display: block;
        width: 100%;
    }

    .hidden {
        display: none;
    }
}
